<head>
    <title>Recipe: <%= "#{@recipe_info[0]['name']}" %></title>
</head>
<body>
	<div class="container">
	<h1><%= "#{@recipe_info[0]['name']}" %></h1>
		<strong><p>Description: </p></strong>
			<%= @recipe_info[0]['description'] %>
		</br>
		</br>
		<strong><p>Ingredients: </p></strong>
		<ul>
			<% @recipe_info.each do |recipe| %>
				<li>
					<%= recipe['ingredients'] %>
				</li>
			<% end %>
		</ul>
		<strong><p>Instructions: </p></strong>
			<%= @recipe_info[0]['instructions'] %>
	</div>
</body>
